:root {
  --logo-color-1: rgb(248 188 160);
  --logo-color-2: rgb(163 97 101);
  font-family: 'Calibri Light';
  direction: rtl;
}

body #root {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----  HEADER  ---- */

header {
  height: 40px;
  background-color: var(--logo-color-1);
  padding: 20px 50px;
  font-size: 25px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

header ul * {
  color: var(--logo-color-2);
  text-decoration: none;
  text-align: center;
}

header ul li {
  width: fit-content;
  padding: 5px 15px;
  background-color: white;
  position: relative;
}

header ul li:hover {
  transform: scale(1.06);
  transition: all .3s;
}

header ul li::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border: 2px solid var(--logo-color-2);
  border-radius: 5px;
}

/* ----  MAIN  ---- */

main .container {
  margin: 0 auto;
  width: 90%;
}

/* ----  POPUP  ---- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(128 128 128 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
}

.popup {
  width: fit-content;
  text-align: center;
}

.popup h2 {
  font-size: 60px;
}

.popup p {
  font-size: 40px;
}

/* ----  FOOTER  ---- */

footer {
  text-align: center;
}