:root {
  --logo-color-1: rgb(248 188 160);
  --logo-color-2: rgb(163 97 101);
  --lightly-bg: rgb(128 128 128 / 30%);
  font-family: 'Calibri Light';
  direction: rtl;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----  HEADER  ---- */

header {
  height: 40px;
  background-color: var(--logo-color-1);
  padding: 10px 50px;
  font-size: 25px;
  position: sticky;
  top: 0;
  z-index: 999999;
}

header .container {
  display: flex;
  align-items: center;
}

#logo,
#login {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#login {
  transform: scaleX(-1);
  padding-left: 25px;
  cursor: pointer;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

header ul * {
  color: var(--logo-color-2);
  text-decoration: none;
  text-align: center;
}

header ul li {
  width: fit-content;
  padding: 1px 15px 3px;
  border-radius: 3px;
  background-color: var(--logo-color-1);
  position: relative;
  margin: 0 15px;
}

header ul li:hover {
  --logo-color-1: rgb(163 97 101);
  --logo-color-2: rgb(248 188 160);
  transition: all .3s;
}

/* ----  MAIN  ---- */

main .container {
  margin: 0 auto;
  width: 90%;
}

.p-home {
  text-align: center;
}

#courses-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#courses-list li {
  width: 30%;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-square {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.price {
  background-color: var(--logo-color-1);
  color: var(--logo-color-2);
  width: 50%;
  padding: 2px;
  position: absolute;
  top: 7%;
  right: -15%;
  transform: rotate(40deg);
  text-align: center;
}

.course div {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: var(--lightly-bg);
  transform-origin: top;
  transition: all .3s;
}

.course-square:hover div {
  transform: translate(-50%, -50%) scaleY(0);
}

.course h2,
.course p {
  margin: 5px 0;
  color: var(--logo-color-1);
  text-shadow: 0 0 3px var(--logo-color-2);
  font-size: 30px;
}

.course img {
  width: 100%;
}

/* ----  FORM  ---- */

form {
  border: 2px solid var(--logo-color-2);
  color: var(--logo-color-2);
  width: fit-content;
  padding: 20px 50px;
  margin: 45px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

form * {
  font-size: 25px;
}

form label {
  max-width: 350px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 5px;
}

form div:nth-child(4) {
  flex-direction: row-reverse;
  align-items: center;
}

form div label {
  padding: 5px 0;
}

form div input {
  border: 1px solid var(--logo-color-2);
  border-radius: 5px;
}

form div input:focus {
  outline: none;
  border-color: var(--logo-color-1);
}

form div input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 0 0 20px;
  border-radius: 20%;
  border: 1px solid var(--logo-color-2);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: auto;
  position: relative;
}

input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-104%, -26%);
  width: 5px;
  height: 10px;
  border: solid var(--logo-color-2);
  border-width: 0 3px 3px 0;
}

form button {
  padding: 1px 15px 3px;
  border-radius: 3px;
  background-color: var(--logo-color-1);
  color: var(--logo-color-2);
  border: none;
  margin: 0 15px;
}

form button:hover {
  background-color: var(--logo-color-2);
  color: var(--logo-color-1);
}

/* ----  POPUP  ---- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(128 128 128 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
}

.popup {
  width: fit-content;
  text-align: center;
}

.popup h2 {
  font-size: 60px;
}

.popup p {
  font-size: 40px;
}

/* ----  FOOTER  ---- */

footer {
  background-color: var(--logo-color-1);
  color: var(--logo-color-2);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}