:root {
  --logo-color-1: #2f2f2f;
  --logo-color-2: #ff5b72;
  --logo-color-3: rgb(188 162 53);
  --colored-font-color: rgb(243 183 138);
  --font-color: white;
  --change-color-1: var(--logo-color-1);
  --change-color-2: var(--logo-color-2);
  --lightly-bg: rgb(128 128 128 / 30%);
  direction: rtl;
}

::selection {
  color: var(--font-color);
  background-color: var(--logo-color-2);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--logo-color-1);
}

body * {
  font-family: 'Varela Round';
  font-weight: bold;
  color: var(--font-color);
}

ul {
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
}

/* ----  HEADER  ---- */

header {
  height: 85px;
  background-color: var(--logo-color-1);
  padding: 10px 50px;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999;
  border-bottom: 3px solid var(--logo-color-2);
}

header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 70px;
  width: 210px;
}

#login {
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#login img:nth-child(1) {
  width: 20px;
  transform: translateX(-30%);
}

#login:hover img:nth-child(1) {
  animation-name: arrow-translate;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#login img:nth-child(2) {
  height: 100%;
  width: 75%;
}

#admin-only {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#admin-only span {
  font-size: 12px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0;
}

header ul li {
  width: fit-content;
  padding: 1px 15px 3px;
  border-radius: 3px;
  color: var(--change-color-2);
  background-color: var(--change-color-1);
  position: relative;
  margin: 0 15px;
  transition: all .3s;
}

header ul li:hover,
li:has(.active),
.edit-button:hover,
.fr-buttons button:hover,
.download-buttons button:hover,
.active-range
{
  --change-color-1: var(--logo-color-2);
  --change-color-2: var(--logo-color-1);
}

header ul li a {
  color: var(--change-color-2);
  text-decoration: none;
  text-align: center;
}

/* ----  MAIN  ---- */

main {
  min-height: calc(100% - 108px);
  margin-top: 108px;
  display: flex;
  align-items: center;
}

main .container {
  margin: 0 auto;
  width: 90%;
}

main * {
  font-size: 20px;
}

/* ---- HOME ---- */

.container:has(.p-home) {
  padding: 50px 0;
}

.p-home,
.p-home span {
  font-size: 26px;
}

.p-home {
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

.three-dots {
  width: 100%;
  position: sticky;
  top: 108px;
  padding-top: 20px;
  background-color: var(--logo-color-1);
}

.three-dots::before {
  content: '';
  display: block;
  position: sticky;
  top: 310px;
  margin: 0 auto;
  height: 5px;
  width: 60%;
  background-color: var(--colored-font-color);
}

.three-dots::after {
  content: "";
  position: absolute;
  margin-right: 5px;
  animation: three-dots;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.colored {
  color: var(--colored-font-color);
}

.end-paragraph {
  margin-bottom: 40px;
}

.start-quotes::before,
.end-quotes::after {
  content: '"';
  padding: 0 2px;
}

.medium {
  font-size: 32px;
}

.big {
  font-size: 40px;
}

/* ---- FAQS ---- */

.faqs {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.faqs img {
  width: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.faqs h2 {
  font-size: 31px;
  margin: 20px;
}

.faqs p {
  white-space: pre-line;
  width: 100%;
  margin: 0;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all .3s;
}

.faqs:nth-last-child(1) p {
  padding-bottom: 30px;
}

.faqs.open p {
  height: fit-content;
  transform: none;
}

.faqs p a {
  color: var(--logo-color-2);
}

.faqs:nth-child(1) h2 {
  color: rgb(245, 98, 117);
}

.faqs:nth-child(2) h2 {
  color: rgb(243, 183, 138);
}

.faqs:nth-child(3) h2 {
  color: rgb(1, 172, 156);
}

.faqs:nth-child(4) h2 {
  color: rgb(42, 201, 209);
}

.faqs:nth-child(5) h2 {
  color: rgb(219, 214, 136);
}

/*  ---- SMALL POPUP ----- */

.open-popup {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 15px;
  border: 1px solid var(--logo-color-3);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.open-popup * {
  color: var(--logo-color-2);
}

.open-popup p {
  margin: 0;
}

/* ---- COURSES ---- */

#courses-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#courses-list li {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-square {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.price {
  background-color: var(--logo-color-1);
  color: var(--logo-color-2);
  width: 50%;
  padding: 2px;
  position: absolute;
  top: 7%;
  right: -15%;
  transform: rotate(40deg);
  text-align: center;
}

.course div {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: var(--lightly-bg);
  transform-origin: top;
  transition: all .3s;
}

.course-square:hover div {
  transform: translate(-50%, -50%) scaleY(0);
}

.course h2,
.course p {
  margin: 5px 0;
  color: var(--logo-color-1);
  text-shadow: 0 0 3px var(--logo-color-2);
  font-size: 30px;
  text-align: center;
}

.course img {
  width: 100%;
}

.wrap-edit-buttons{
  width: 60%;
  display: flex;
  justify-content: space-around;
}
/* ----  FORM  ---- */

form {
  border: 2px solid var(--logo-color-3);
  color: var(--logo-color-2);
  width: fit-content;
  padding: 20px 50px;
  margin: 45px auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

form * {
  font-size: 25px;
}

form label {
  max-width: 350px;
  color: var(--logo-color-2);
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 5px;
}

#buy-form div:nth-child(4) {
  flex-direction: row-reverse;
  align-items: center;
}

form div label {
  padding: 5px 0;
}

form div input {
  color: var(--logo-color-1);
  border: 2px solid var(--logo-color-3);
  border-radius: 5px;
  width: 350px;
}

form div input:focus {
  outline: none;
  border-color: var(--logo-color-2);
}

form div input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 0 0 20px;
  border-radius: 20%;
  border: 1px solid var(--logo-color-3);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: auto;
  position: relative;
}

input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-104%, -26%);
  width: 5px;
  height: 10px;
  border: solid var(--logo-color-2);
  border-width: 0 3px 3px 0;
}

form button {
  align-self: flex-end;
  padding: 1px 15px 3px;
  border-radius: 3px;
  background-color: var(--change-color-2);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  margin: 0 15px;
  cursor: pointer;
  transition: all .3s;
}

form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px 3px gray;
}

/* ---- Course Edit ---- */

.close-course {
  display: none;
}

.fr-buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 245px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.fr-buttons h2 {
  width: 100%;
  text-align: center;
  margin: 0;
}

.edit-button,
.fr-buttons button,
.download-buttons button {
  padding: 3px 15px;
  border-radius: 5px;
  color: var(--change-color-2);
  background-color: var(--change-color-1);
  border: 1px solid var(--change-color-2);
  cursor: pointer;
  margin: 15px 0 0 0;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.download p {
  margin: 0;
}

.download p img {
  padding: 0 2px;
}

.download-buttons {
  display: flex;
  justify-content: space-around;
}

.download-buttons button {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.download-buttons img {
  width: 10%;
}

/* chart */
.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.charts-container li {
  width: 50%;
}

.chart {
  width: 100%;
}

/* ----  POPUP  ---- */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(128 128 128 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
}

.popup {
  width: fit-content;
  text-align: center;
}

.popup h2 {
  font-size: 60px;
}

.popup p {
  font-size: 40px;
}

/* ----  FOOTER  ---- */

footer {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: top left;
  left: 0;
  bottom: 0;
  background-color: var(--logo-color-1);
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  color: var(--logo-color-2);
}

@keyframes three-dots {
  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}


@keyframes arrow-translate {
  to {
    transform: translateX(-100%);
  }
}

/* ---- @MEDIA ---- */

@media (max-width:1000px) {
  .container {
    width: 900px;
  }
}

@media (max-width:850px) {
  .container {
    width: 600px;
  }
}